.login-container {
	background-image: url('../../assets/images/login_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.login-form {
		position: relative;
		width: 520px;
		max-width: 100%;
	}
}
